@import url('https://fonts.googleapis.com/css2?family=Commissioner&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');

html, body {
  height: 100%;
  width: 100%;
}

#welcome{
  background-image: url("https://i.pinimg.com/originals/c4/75/d2/c475d2ed22342957d6651a246a14edf6.jpg");
  height: 140vh;
  background-repeat: no-repeat;
  display: flex;
  position: relative;
  z-index: 1;
}
#title{
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: center;
  padding-left: 10%;
  text-shadow: 5px 6px 1.5px black;
}
#wl{
  font-size: 70px;
  font-family: 'Commissioner', sans-serif;
}
#tr{
  font-size: 100px;
  font-family: 'Sora', sans-serif;
}
#select{
  box-shadow: 2px 2px 5px grey !important;
  border: 1px black;
}
#col{
  gap: 5%;
}
#it_grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2%;
  padding: 2%;
}
#it{
  display: flex;
  align-items: center;
  gap: 3%;
}
#stuff{
  width: 50%;
  display: block;
}
.add-button{
  width: 100%;
}
#words{
  display: flex;
  flex-direction: column;
}

#lon{
  padding: 3% 10%;
}

#lon_word{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 70px;
  text-shadow: #000 0px 0px 5px, #000 0px 0px 6px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px;
  -webkit-font-smoothing: antialiased;
  font-family: 'Comfortaa', cursive;
}
#lon_img{
  width: 75%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  text-align: center;
}
#lon_backg{
  margin-bottom: 3%;
}
#buy{
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 5% 10%;
  gap: 10px;
  padding-bottom: 10%;
}


  #cont {
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 0;
/*     height: 30%; */
/*     width: 43%; */
    width: 330px;
/*     line-height: 1.25; */
    line-height: 1;
  }
  
  .boo {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    margin: 0 auto;
    max-width: 600px;
    width: 100%;
  }
  
  .calendar {
    background: rgb(242, 243, 245);
    border-radius: 4px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .3);
/*     height: 501px; */
    height: 330px;
    perspective: 1000;
    transition: .9s;
    transform-style: preserve-3d;
    width: 100%;
  }
  
  .current-date {
    border-bottom: 1px solid rgba(73, 114, 133, .6);
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
  }
  
  .current-date h1 {
    color: rgb(101, 104, 115);
/*     font-size: 1.4em; */
    font-size: .8em;
    font-weight: 300;
  }
  
  .week-days {
    color: rgb(101, 104, 115);
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    padding: 20px 30px;
  }
  
  .days {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .weeks {
    color: rgb(101, 104, 115);
    display: flex;
    flex-direction: column;
    padding: 0 30px;
  }
  
  .weeks div {
    display: flex;
/*     font-size: 1.2em; */
    font-size: .6em;
    font-weight: 300;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 100%;
  }
  
  .last-month {
    opacity: .3;
  }
  
  .weeks span {
    padding: 10px;
  }
  
  .weeks span.active {
    background: rgb(203, 216, 242);
    border-radius: 45%;
  }
  
  .weeks span:not(.last-month):hover {
    cursor: pointer;
    font-weight: 600;
  }
  
  .event {
    position: relative;
  }
  
  .event:after {
    content: '•';
    color: rgb(203, 216, 242);
    font-size: .6em;
    position: absolute;
    right: -4px;
    top: -4px;
  }
  
  .actions {
    bottom: 0;
    border-top: 1px solid rgba(73, 114, 133, .6);
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
  }
  
  .actions button {
    background: none;
    border: 0;
    color: rgb(101, 104, 115);
    font-weight: 600;
    letter-spacing: 3px;
    margin: 0;
    padding: 30px 0;
    text-transform: uppercase;
    width: 50%;
  }
  
  
#layout{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.hidden{
  display: none;
}
#choose{
  padding-right: 15%;
  inline-size: 1.5;
}

#checkout_but{
  margin-left: 1%;
}